* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Titan One', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#main {

}

#header {
    height: 60px;
    background-color: rgb(129, 131, 153);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_logo a {
    text-decoration: none;
    display: inline-block;
}
.header_logo span {
    font-size: 2.4rem;
    cursor: default;
    color: #DEB887;
}
.header_logo img {
    width: 52px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border: 5px solid rgb(131, 74, 1);
}
.header_logo a:hover img {
    cursor: pointer;
    transform: rotate(-360deg);
    transition: all ease-out 1s;
    -webkit-transform: rotate(-360deg);
}
.header_nav {
    height: 100%;
}
.header_nav-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}
.header_nav-list-item:hover {
    background-color: #fff;
}
.header_nav-list-item a {
    text-decoration: none;
    font-size: 1.8rem;
    display: block;
    line-height: 60px;
    padding: 0 12px;
    color: #ffffff;
}
.header_nav-list-item:hover a {
    color: rgb(129, 131, 153);
    transform: translate(2px, 2px);
}

/* header info */

#header-info {
    height: 550px;
    background: linear-gradient(to right, #818399, #B1A073);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border-bottom: 2px solid #000;
}
.header-info_container {
    width: 800px;
    height: 300px;
    background-color: #818399;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 50px;
    border-radius: 160px;
    border: 10px solid #f8edde;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
}
.header-info_container-text {
    width: 460px;
}
.header-info_container-text h2 {
    font-size: 4.6rem;
    color: #DEB887;
    margin: 10px 0;
}
.header-info_container-text p {
    font-size: 1.5rem;
    color: #fff;
    margin: 15px 0;

}
.header-info_container-text button {
    margin: 0 auto;
    display: block;
    padding: 6px 8px;
    color: #fff;
    background-color: #DEB887;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.header-info_container-text button:active {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    transform: translateY(1px);
}
.header-info_container-logo {

}   
.header-info_container-logo img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #DEB887;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

/* content */

#content {
    height: 3000px;
}

.team {
    height: 500px;
    background-color: rgba(177, 160, 115, 0.4);
    background-color: #DEB887;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 64px;
    border-bottom: 2px solid #000;
}
.team_title {
    font-size: 48px;
    color: #fff;
    margin: 20px 0;
}
.team_list {
    list-style-type: none;
    /* display: none; */
    display: flex;
    gap: 60px;
    margin-top: 20px;
}
.member {
}
.member_image {
    width: 220px;
    background-color: rgba(129, 131, 153, 0.4);
    background-color: #5C5863;
    border: 10px solid #fff;
    border-radius: 30px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.6);
}
.member_image:hover {
    transform: translateY(2px);
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2);
}
.member_info {
    text-align: center;
    color: #343750;
    color: #ffffff;
}
.member_info-name {
    margin-top: 4px;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.member_info-description {
    font-size: 1.2rem;
    margin-top: 6px;
}
/* portfolio */

.portfolio {
    min-height: 600px;
    padding-top: 50%;
    background: url('./image/background/Untitled_5.1.1.jpg') no-repeat  center / cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 64px;
    border-bottom: 2px solid #000;
}
.portfolio_title {
    font-size: 48px;
    color: #fff;
    margin: 20px 0;
    text-transform: uppercase;
}
.portfolio_list {
    list-style-type: none;
    /* display: none; */
    display: flex;
    gap: 60px;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: center;
}
.project {
   
}
.project_img {
    width: 220px;
    background-color: rgba(129, 131, 153, 0.4);
    background-color: hsl(262, 6%, 37%);
    border: 10px solid #fff;
    border-radius: 30px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.6);
}
.project_img:hover {
    transform: translateY(2px);
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.2);
}
.project_info {
    text-align: center;
    color: #343750;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.project_info-name {
    margin-top: 6px;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.project_info-description {
    font-size: 1.4rem;
    margin-top: 4px;
}